html, body{
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mainNavbar{
    padding-top: 20px;
    text-align: center;
    font-size: 1rem;
    padding-right: 5rem;
    padding-left: 7rem;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 100%;
}

#title{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 4rem;
    color: white;
}

#depreciatedTitle{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 4rem;
    color: lightslategray;
}

.projectName{
    font-size: 2.5rem;
    font-family: 'Fredoka One', cursive;
}

.list-group{
    font-size: 1.5rem;
    margin: 0 auto;
    width: 50%;
}

.mobileSpacing{
    display: none;
}

button{
    margin-top: 10px;
}

@media screen and (max-width:1440px) {
    .mobileSpacing {
        display: block;
    }
}
